.textarea {
  h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0;
    page-break-after: avoid;
  }
  h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.83em 0;
    page-break-after: avoid;
  }
  h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    margin: 1.33em 0;
    page-break-after: avoid;
  }

  pre {
    background-color: rgb(21, 22, 32);
    padding: 2rem;
    margin: 1rem;
    border-radius: 0.5rem;
  }
}

.heading {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.67em 0;
  page-break-after: avoid;
}
